<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src=".\\src\assets\image\logo-atlantico-medio.png" style="max-width: 220px;">
    </a>
    <div *ngIf="!usuarioLogueado" class="register">
      <button routerLink="register" type="button" class="btn btn-primary">Registrarse</button>
    </div>
    <button *ngIf="usuarioLogueado" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="usuarioLogueado" class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a
            class="nav-link"
            aria-current="page"
            routerLink="materiales"
            routerLinkActive="active">MATERIAL</a>

        <a
            class="nav-link"
            routerLink="equipos"
            routerLinkActive="active">EQUIPOS</a>

        <a
            class="nav-link"
            routerLink="clases"
            routerLinkActive="active">CLASES</a>

        <a
            class="nav-link disabled notification">
            MIS RESERVAS

        </a>

        <button type="button" class="logout btn btn-default pantalla-pequena confirma" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <span class="izquierda">
              CONFIRMAR RESERVA
            </span>

            <span class="material-symbols-outlined derecha">
              article
            </span>
        </button>

        <div class="notification pantalla-grande">
              <span class="material-symbols-outlined reserva" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
              article
              </span>
              <span class="badge"> {{ cantidadArticulos }} </span>
        </div>




        <button (click)="cerrarSesion()" type="button" class="logout btn btn-default">
              <span class="cerrar-sesion izquierda">
                CERRAR SESIÓN
              </span>

              <span class="material-symbols-rounded derecha">
                logout
              </span>
        </button>

      </div>

    </div>
  </div>
</nav>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <app-confirmacion></app-confirmacion>
</div>
