.box{
  margin: auto;
  padding-top: 5rem;
}

.card{
  margin: 1rem;
  width: 18rem;
}

.disabled{
  filter: grayscale(100%);
}

.disabled .btn{
  pointer-events: none;
}

.card.disabled {
  order: 2;
}

.card:not(.disabled) {
  order: 1;
}

@media screen and (max-width: 700px) {
  .card{
    margin: 0;
    width: 100%;
    margin-bottom: 1rem;
  }
}

