<div class="login">
  <img src="./assets/image/logo-uni.jpg" style="width: 10rem;">

  <div class="form-floating mb-3">
    <input type="email" class="form-control"placeholder="nombre@email.com">
    <label>Email institucional</label>
  </div>


  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Contraseña</label>
  </div>


  <button type="button" class="btn btn-primary">Iniciar Sesión</button>

</div>
