@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

.register{
  width: 40rem;
  margin: auto;
  text-align: center;

  padding: 5rem;
  margin-top: 2rem;
  border-radius: 10px;
}

.register-confirmado{
  width: 40rem;
  margin: auto;
  text-align: center;
  padding: 5rem;
  margin-top: 2rem;
  border-radius: 10px;
}

.completing{
  width: 15rem;
}

.titulacion-select{
  height: 3.5rem;
  margin-bottom: 1rem;
}

p{
  text-align: right;
}

.btn{
  width: 100%;
  padding: 15px;
  background: #002F7B;
  border: none;
}

.invalid-feedback{
  text-align: start;
}

@media screen and (max-width: 700px) {
  .register{
    width: 100%;
    padding: 4rem;
  }
}
